/* .Arrow {
  padding: 2px;
  border-top: 1px solid red;
  border-right: 1px solid red;
  width: 2px;
  height: 2px;
  transform: rotate(-45deg);
  transition: all 0.4s;
}
.top {
  transform: rotate(-45deg);
}
.down {
  transform: rotate(135deg);
}
.left {
  transform: rotate(-135deg);
}
.right {
  transform: rotate(45deg);
} */
/* :root {
  --rrotate: 0deg;
  --arrow-rotate: calc(var(--rrotate));
} */
.Arrow {
  box-sizing: border-box;
  width: 9px;
  height: 9px;
  border-top: 1px solid red;
  border-right: 1px solid red;
  transition: transform 1s ease-in;
}
